@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro'), url('./fonts/GothamPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold'), url('./fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  src: local('Gotham Pro Bold'), url('./fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('./fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tenor Sans';
  src: local('Tenor Sans'), url('./fonts/TenorSans-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

$color-22: #222227;
$white: white;
$color-56: #565656;
$gray: #8E8E91;

.diamant-portfolio {
  font: 400 16px/24px 'Gotham Pro', sans-serif;
  overflow: hidden;
  max-width: 2560px;
  margin: 0 auto;

  img {
    height: auto;
    object-fit: contain;
  }

  .section-header {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.01rem;
    color: #222227;
    margin-bottom: 70px;
    text-transform: uppercase;

    font-weight: 500;

    &.light {
      color: $white;
    }
  }

  .container {
    max-width: 1550px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
  }

  .main-section {
    position: relative;
    margin-bottom: 24px;

    .m-d {
      position: absolute;
      left: 0;
      top: 0;
    }

    .container {
      justify-content: space-between;

      .left-part {
        min-width: 42%;
        flex-basis: 42%;
        padding: 66px 0 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .ux-design, .diamantplus {

          font-size: 18px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.01rem;
          color: $color-22;
        }

        .ux-design {
          margin-bottom: 20px;
        }

        .diamantplus {
          margin-top: 20px;
        }

        .main-mid {
          max-width: 488px;

          .main-header {
            margin-bottom: 49px;
            font-size: 80px;
            line-height: 88px;
            letter-spacing: 0.01rem;
            color: $color-22;
          }

          .main-subheader {
            margin-bottom: 40px;
            font-size: 40px;
            line-height: 40px;
            letter-spacing: 0.01rem;
            color: $color-22;
          }

          .main-title {
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.01rem;
            color: $color-22;
          }
        }


      }

      .right-part {
        min-width: 58vw;
        flex-basis: 58vw;
        position: relative;

        .main-img {
          z-index: 0;
          object-fit: contain;
        }

        .m-d-2 {
          z-index: 1;
          top: 15%;
          right: 8%;
          position: absolute;
        }

        .right-part-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          max-width: 880px;
          width: 100%;
          z-index: 1;
          padding-top: 66px;

          .year {
            text-align: right;
            font-size: 18px;
            line-height: 20px;
            color: $color-22;
            letter-spacing: 0.01rem;
            margin-bottom: 73px;
          }

          .credit-sum-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-height: 450px;
            height: 100%;
            position: relative;

            .credit-sum {
              color: white;
              margin-left: 94px;

              .num {
                font-size: 32px;
                margin-bottom: 9px;
              }

              .title {
                font-size: 12px;
              }
            }

            .credit-sum.align-right {
              margin-left: 0;
              position: absolute;
              bottom: 0;
              right: -167px;
            }
          }

          .currency {
            position: absolute;
            top: 19%;
            left: 73%;
            object-fit: contain;
          }

          .min10 {
            position: absolute;
            top: 30%;
            left: 2%;
            object-fit: contain;
          }

          .srok {
            position: absolute;
            top: 24%;
            left: 62%;
            object-fit: contain;
          }

          .car {
            position: absolute;
            top: 54%;
            left: -7%;
            object-fit: contain;
          }

          .sum {
            position: absolute;
            top: 67%;
            left: 8%;
            object-fit: contain;
          }

          .money {
            position: absolute;
            top: 74%;
            left: 72%;
            object-fit: contain;
          }
        }

      }
    }
  }

  .about-task-section {
    margin-bottom: 120px;

    .container {
      flex-direction: column;
      position: relative;

      .dots {
        position: absolute;
        z-index: 0;
      }

      .dots-1 {
        top: 0;
        left: 0;
      }

      .dots-2 {
        bottom: 0;
        right: 0;
      }
    }

    .task-row {
      z-index: 1;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;

      .img-part {
        min-width: 50vw;
        flex-basis: 50vw;
        display: flex;
        justify-content: center;

        img {
          object-fit: contain;
        }
      }

      .title-part {
        min-width: 50%;
        flex-basis: 50%;
        max-width: 635px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title {
          font-size: 30px;
          line-height: 30px;
          letter-spacing: 0.01rem;
          margin-bottom: 35px;
          color: $color-22;
        }

        .description {
          font-size: 18px;
          line-height: 28px;
          color: $color-56;

          p {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

    }

    .task-row.reverse {
      margin-top: -100px;
      flex-direction: row-reverse;
      justify-content: flex-end;

      .img-part {

      }

      .title-part {

        .title, .description {
          max-width: 635px;
        }
      }
    }
  }

  .fonts-colors {
    margin-bottom: 140px;

    .container {
      flex-direction: column;
    }

    .fonts-colors-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .fc-header {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.02rem;
        color: $gray;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: 500;
      }

      .fonts {
        .fc-header {
          margin-bottom: 60px;
        }
      }

      .font-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;

        .font-name {
          font-size: 50px;
          line-height: 50px;
          letter-spacing: 0.01rem;
          color: $color-22;
        }

        .fz-fw {
          margin-top: 19px;
          max-width: 240px;

          .fzs {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;

            .fzs-item {
              font-size: 18px;
              line-height: 20px;
              letter-spacing: 0.02rem;
              color: $color-56;
              text-transform: uppercase;
            }

          }

          .fws {
            display: flex;

            .fws-item {
              font-size: 18px;
              line-height: 20px;
              letter-spacing: 0.02rem;
              text-transform: uppercase;
              color: $color-56;
              font-weight: 500;

              &:first-child {
                margin-right: 40px;

              }
            }
          }
        }
      }

      .colors-wrapper {
        display: flex;

        .color-item {
          margin-right: 50px;

          &:last-child {
            margin-right: 0;
          }

          .color {
            width: 110px;
            height: 110px;
            box-shadow: 0px 6px 9px rgba(28, 39, 46, 0.22);
            margin-bottom: 40px;
            border: 13px solid white;
            border-radius: 100%;
          }

          .color-title {
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 0.02rem;
            color: $color-56;
            text-align: center;
          }
        }
      }
    }
  }

  .main-page {
    background: #2C2E2C;
    border-radius: 0px 170px 0px 0px;
    padding-top: 146px;
    margin-bottom: -300px;

    .container {
      position: relative;
      flex-direction: column;

      .dots {
        position: absolute;
        top: -150px;
        right: 0;
      }

      .main-page-wrapper {
        display: grid;
        grid-template-columns: 1fr 65%;
        grid-gap: 15px;

        .title-block {
          .title-item {
            display: grid;
            grid-template-columns:25px 1fr;
            grid-gap: 85px;

            .number {
              font-size: 20px;
              line-height: 20px;
              letter-spacing: 0.01rem;
              color: $white;
              font-weight: 500;
            }

            .item-description {
              .item-header {
                font-size: 20px;
                line-height: 22px;
                padding-bottom: 13px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.38);
                margin-bottom: 20px;
                color: white;
                text-transform: uppercase;
                font-weight: 500;

              }

              .item-text {
                max-width: 285px;
                font-size: 16px;
                line-height: 24px;
                color: #B9BAB9;
              }
            }
          }

          .item-1 {
            margin-top: 100px;
          }

          .item-2 {
            margin-top: 240px;
          }

          .item-3 {
            margin-top: 250px;
          }

          .item-4 {
            margin-top: 300px;
          }

          .item-5 {
            margin-top: 180px;
          }
        }

        .img-wrapper {
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }

  }

  .slider-variants {
    margin-bottom: -227px;
    background: url("./img/slider-b.png") no-repeat center/cover;
    padding-top: 400px;

    .img-wrapper {

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .other-pages {
    padding-top: 328px;
    background: #00C435;
    margin-bottom: -1000px;

    .container {
      position: relative;
    }

    .dots {
      position: absolute;
      top: -160px;
      right: -200px;
    }

    .img-wrapper {
      margin-top: -180px;

      img {
        width: 100%;
        object-fit: contain;
      }

      padding-left: 170px;
    }
  }

  .mobile {
    padding-top: 1300px;
    background: #2C2E2C;

    .img-wrapper {
      position: relative;

      .tablet {
        position: absolute;
        bottom: -230px;
        right: 0;
      }
    }

  }

  .full-img {
    margin-bottom: -200px;

    img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }
  }

  .result {
    position: relative;

    background: #2C2E2C;
    border-radius: 170px 0px 0px 0px;

    .res-d-1 {
      position: absolute;
      top: -20px;
      right: 100px;
    }

    .res-d-2 {
      position: absolute;
      bottom: 0;
      left: 50px;
    }

    .result-wrapper {

      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-gap: 90px;

      .left-part {
        padding-top: 100px;

        .list {
          margin-bottom: 110px;
          /*     display: grid;
               grid-template-columns: 1fr 1fr;
               grid-gap:40px 70px;*/
          columns: 2 auto;

          li {
            margin-bottom: 40px;
            display: grid;
            grid-template-columns: 14px 1fr;
            grid-gap: 22px;

            .img {
              svg {
                margin-top: 5px;
              }
            }

            .title {
              font-size: 18px;
              line-height: 28px;
              color: $white;
            }
          }
        }

        .tech {
          padding-bottom: 146px;
          display: flex;
          justify-content: space-between;

          .tech-item {
            .tech-header {
              font-size: 18px;
              line-height: 22px;
              font-weight: 500;
              color: $white;
              margin-bottom: 26px;
              text-transform: uppercase;

            }

            .tech-title {
              font-size: 18px;
              line-height: 22px;
              color: $white;
            }
          }
        }
      }

      .right-part {
        align-self: end;

        img {
          justify-self: center;
          height: auto;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 1650px) {
  .diamant-portfolio {
    .main-section {
      .container {
        .right-part {
          .main-img {
            width: 100%;
            object-fit: contain;
            margin-bottom: -100px;
          }
          .right-part-wrapper {
            display: none;


          }

          .m-d-2 {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .diamant-portfolio {
    .container {
      padding: 0 30px;
    }

    .about-task-section {
      .task-row {
        .img-part {
          margin-right: 40px;
        }
      }
    }

    .main-section {
      .container {

        .left-part {
          padding: 30px;
        }

        .right-part {
          .right-part-wrapper {

            .currency, .min10, .srok, .car, .sum, .money {

            }

          }
        }
      }
    }
  }

}

@media (max-width: 1450px) {
  .diamant-portfolio {
    .fonts-colors {
      .fonts-colors-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 40px;
        max-width: 800px;
      }
    }

    .main-page {
      .container {
        .main-page-wrapper {
          .title-block {
            .item-1 {
              margin-top: 100px;
            }

            .item-2 {
              margin-top: calc(11vw);
            }

            .item-3 {
              margin-top: calc(14vw);
            }

            .item-4 {
              margin-top: calc(16vw);
            }

            .item-5 {
              margin-top: calc(13vw);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .diamant-portfolio {
    .main-section{
      .container{
        padding: 0;
        .left-part{
          padding:15px ;
          .ux-design, .diamantplus{
            font-size: 16px;
            line-height: 17px;
          }
          .main-mid{
            .main-header{
              font-size: 46px;
              line-height: 50px;
              margin-bottom: 19px;
            }
            .main-subheader{
              font-size: 24px;
              line-height: 24px;
              font-weight: 400;
              margin-bottom: 28px;
            }
            .main-title{
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
        .right-part{
          .main-img{
            margin-bottom: -150px;
          }
        }
      }
    }
    .section-header {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 50px;
    }

    .about-task-section {
      .task-row.reverse {
        margin-top: 0;
      }
    }

    .main-page {
      .container {
        .main-page-wrapper {
          grid-template-columns: 1fr;

          .title-block {
            display: none;
          }
        }
      }
    }

    .mobile {
      padding-top: 1050px;

      .img-wrapper {
        .tablet {
          width: 50%;
          bottom: -149px;
        }
      }
    }

    .other-pages {
      .img-wrapper {
        margin-top: -120px;
        padding-left: 0;
      }
    }

    .full-img {
      margin-bottom: -10px;
    }

    .result {
      border-radius: 0;

      .result-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        width: 100%;

        .left-part {
          padding-top: 70px;

          .list {
            columns: 1 auto;
            margin-bottom: 70px;

            li {
              margin-bottom: 20px;
            }
          }
        }

        .right-part {
          height: 100%;
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .diamant-portfolio {
    .main-section{
      .m-d{
        display: none;
      }
      .container{
        flex-direction: column;
        .left-part{
          min-width: 100%;
          flex-basis: 100%;
          .ux-design, .diamantplus{
            display: none;
          }
          .main-mid{
            max-width: 100%;
            margin-bottom: 30px;
            .main-header{

            }
          }
        }
        .right-part{
          min-width: 100%;
          flex-basis: 100%;
          .main-img{
            margin-bottom: -50px;
          }
        }
      }
    }
    .mobile {
      padding-top: 700px;
    }

    .main-page {
      padding-top: 90px;
    }

    .other-pages {
      margin-bottom: -700px;

      .img-wrapper {
        margin-top: 0;
      }
    }

    .result {
      .result-wrapper {
        background: url("./img/result.png") no-repeat 140% center/contain;

        .right-part {
          img {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .diamant-portfolio {
    .about-task-section {
      margin-bottom: 20px;

      .container {
        .dots {
          display: none;
        }

        .task-row {
          flex-direction: column-reverse;

          .img-part {
            margin: 30px 0;
          }

          .title-part {
            max-width: 100%;
            width: 100%;
            flex-basis: 100%;

            .title {
              font-size: 24px;
              line-height: 26px;
              margin-bottom: 30px;
            }

            .description {
              font-size: 16px;
              line-height: 24px;
              max-width: 100%;
            }
          }
        }
      }
    }

    .fonts-colors {
      .fonts-colors-wrapper {
        .fonts {
          .fc-header {
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 18px;
          }

          .font-wrapper {
            .fz-fw .fzs {
              margin-bottom: 40px;

              .fzs-item {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }

    .container {
      padding: 0 15px;
    }

    .slider-variants {
      margin-bottom: -110px;
    }

    .main-page {
      .container {
        .dots {
          display: none;
        }
      }
    }

    .other-pages {
      padding-top: 110px;

      .container {
        .dots {
          display: none;
        }
      }
    }

    .section-header {
      margin-bottom: 40px;
    }

    .result {
      .res-d-1 {
        display: none;
      }

      .res-d-2 {
        display: none;
      }

      .result-wrapper {
        background: none;
        grid-template-columns: 1fr;

        .left-part {
          .list {
            margin-bottom: 60px;

            li {
              .title {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }

          .tech {
            padding-bottom: 0;

            .tech-item {
              .tech-header {
                font-size: 16px;
                line-height: 24px;
              }

              .tech-title {
                font-size: 16px;
                line-height: 24px;
              }
            }
          }
        }

        .right-part {
          justify-content: center;

          img {
            display: block;
            width: 70%;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .diamant-portfolio {
    .fonts-colors {
      margin-bottom: 80px;

      .fonts-colors-wrapper {
        .fonts {
          .fc-header {
            margin-bottom: 30px;

          }

          .font-wrapper {
            grid-template-columns: 1fr;
            grid-gap: 25px;

            .font-name {
              font-size: 48px;
              line-height: 48px;
            }

            .fz-fw .fzs {
              margin-bottom: 40px;

              .fzs-item {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }

        }

        .colors {
          .colors-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 30px;

            .color-item {
              align-self: center;
              justify-self: center;
              margin-right: 0;

              .color {
                width: 100px;
                height: 100px;
                margin-bottom: 25px;
              }
            }
          }
        }
      }
    }

    .slider-variants {
      padding-top: 340px;

      .img-wrapper {
        margin: 0 -110px;
      }
    }

    .other-pages {
      margin-bottom: -450px;
    }

    .mobile {
      .img-wrapper {
        .tablet {
          width: 70%;
          bottom: 0;
        }
      }
    }
  }

}

@media (max-width: 500px) {
  .diamant-portfolio {
    .mobile {
      padding-top: 620px;
    }

    .result {
      .result-wrapper {
        .left-part {
          .tech {
            flex-direction: column;

            .tech-item {
              margin-bottom: 30px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        .right-part {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}